{% set title = "Write a vant" %}
{% extends 'base.html.twig' %}
{% block title %}User - {{ app.user.username }}: Write a vant{% endblock %}

{% block body %}
    {% if errors %}
        {% for error in errors %}
            <div class="error">
                {{ error.message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="wrapper-index">
        {{ form_start(form, {'action': path('vant_new')}) }}
        {{ form_widget(form.content, { 'attr': {'placeholder': 'Enter your vant'} }) }}<br />
        {{ form_widget(form.type, { 'attr': {'class': 'foo'} }) }}<br />
        {{ form_widget(form.save, { 'label': 'Write' }) }}
        {{ form_end(form) }}
    </div>
{% endblock %}