{% set title = user.username %}
{% extends 'base.html.twig' %}
{% block title %}User - {{ user.username }}{% endblock %}

{% block body %}
    {% if form %}
        <div class="wrapper-index">
            {{ include('user/vant/_form.html.twig', {
                'create' : true,
                'buttonText' : 'Write',
            }) }}
        </div>
    {% endif %}

    {% if vants %}
        {{ include('user/vant/_vant.html.twig', {
            'vants' : vants,
        }) }}
    {% else %}
        <div class="error">
            {% if user.id == app.user.id %}
                You don't have any vants!
            {% else %}
                {{ user.username }} don't have any vants!
            {% endif %}
        </div>
    {% endif %}

    {{ include('user/_search_form.html.twig') }}

{% endblock %}